@tailwind base;
@tailwind components;

@layer components {
  .filter-bar {
    @apply grid grid-cols-[auto,1fr] w-full items-center gap-2 p-6 rounded-md bg-white drop-shadow-xl;
  }
  .filter-clear {
    @apply justify-self-end cursor-pointer text-Desaturated-Dark-Cyan hover:underline font-semibold;
  }
  .card {
    @apply grid w-full items-center gap-2 p-6 rounded-md bg-white drop-shadow-card
    md:grid-cols-[150px,auto,auto] grid-cols-1;
  }
  .card-feature {
    @apply border-l-Desaturated-Dark-Cyan border-l-4;
  }
  .new-label {
    @apply ml-2 text-xs font-semibold bg-Desaturated-Dark-Cyan text-white pt-[6px] pb-[4px] pl-[7px] pr-[7px] rounded-xl;
  }
  .feature-label {
    @apply ml-2 text-xs font-semibold bg-Very-Dark-Grayish-Cyan text-white pt-[6px] pb-[4px] pl-[7px] pr-[7px] rounded-xl;
  }
  .tag {
    @apply flex flex-row text-Desaturated-Dark-Cyan bg-Light-Grayish-Cyan-Background px-2 py-1 rounded-[5px] cursor-pointer;
  }
  .tag:active,
  .tag:hover {
    @apply bg-Desaturated-Dark-Cyan text-white;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: "LeagueSpartan";
  src: url("../fonts/LeagueSpartan-VariableFont_wght.ttf");
}
body {
  background-color: hsl(180, 52%, 96%);
}
* {
  font-family: LeagueSpartan, serif;
  font-size: 16px;
}
.header-background {
  background-image: url("../images/bg-header-desktop.svg");
}
@tailwind utilities;
